:root {
  --color-primary: #4e9f3d;
  --color-primary-dark: #1e5128; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

body {
  background-color: #6fcf97; }

.logo {
  color: black;
  font-size: 5.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  grid-column: 1/2; }
  .logo__box {
    padding: 2rem;
    margin-bottom: 2rem; }
    @media screen and (max-width: 56.25em) {
      .logo__box {
        opacity: 0;
        width: 0;
        position: absolute; } }

.icon {
  display: inline-block;
  width: 2rem;
  stroke-width: 0;
  stroke: currentColor; }
  .icon:not(:last-child) {
    margin-right: 1rem; }

.heading-secondary {
  font-family: "Nunito";
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-shadow: 2px 1px 2px gray; }
  .heading-secondary--contact {
    border-bottom-width: 1.5px;
    padding-bottom: 1rem;
    border-bottom-style: solid; }

.content {
  display: flex;
  flex: 1;
  flex-direction: column; }
  @media screen and (max-width: 37.5em) {
    .content {
      order: 2; } }
  .content__header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    background-color: #6fcf97;
    grid-column: 1/-1;
    align-items: center; }
    @media screen and (max-width: 37.5em) {
      .content__header--about {
        visibility: hidden;
        position: absolute; } }
    .content__header--contact {
      background-color: #f5f5f5; }
  .content__body {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 37.5em) {
      .content__body--contact {
        width: auto; } }
  .content__body-employee {
    padding: 5rem;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 37.5em) {
      .content__body-employee {
        flex-direction: column;
        padding: 3rem; } }
    .content__body-employee--text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Roboto", sans-serif; }
  .content__photo {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    object-fit: cover; }
    @media screen and (max-width: 37.5em) {
      .content__photo {
        margin-bottom: 3rem; } }

.team-heading {
  text-decoration: underline;
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 0.25rem; }
  @media screen and (max-width: 56.25em) {
    .team-heading {
      text-decoration: none;
      font-size: 4.5rem;
      font-family: "Nunito", sans-serif;
      margin-top: 2.5rem; } }

.team-text {
  width: 80%; }

.paragraph {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 300; }
  .paragraph--contact {
    width: 80%;
    padding-top: 2.3rem; }

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.about__photo {
  width: 55rem;
  height: 30rem; }

.about__text {
  width: 60%; }
  @media screen and (max-width: 56.25em) {
    .about__text {
      padding-bottom: 2rem; } }
  @media screen and (max-width: 37.5em) {
    .about__text {
      width: 75%; } }

.img__container {
  padding: 3rem; }

.contact__form {
  padding: 2rem;
  text-align: left;
  display: flex;
  padding-bottom: 0; }
  @media screen and (max-width: 37.5em) {
    .contact__form {
      flex-direction: column; } }

.contact__button {
  display: flex;
  justify-content: center; }
  .contact__button--btn {
    padding: 0.5rem 8rem;
    font-family: "Nunito", sans-serif;
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: all 0.2s;
    color: #fff; }
    .contact__button--btn:hover {
      cursor: pointer;
      transform: translateY(-3px); }
    .contact__button--btn:active {
      transform: translateY(3px); }

.form {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 56.25em) {
    .form {
      width: 100%; } }
  .form__group {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media screen and (max-width: 37.5em) {
      .form__group--message {
        padding-top: 0; } }
  .form__input {
    height: 4rem;
    order: 2;
    text-indent: 0px;
    text-align: start;
    cursor: text;
    font-size: 1.7rem;
    text-indent: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 5px gray; }
    .form__input--message {
      padding: 0 0 8rem 0;
      font-family: inherit;
      cursor: text; }
      @media screen and (max-width: 37.5em) {
        .form__input--message {
          margin-bottom: 1rem; } }
  .form__label {
    font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 0.8rem;
    letter-spacing: 0.1rem; }

.offerings__img {
  height: 70%;
  width: 70%; }

.u-margin-small {
  margin-bottom: 2rem; }

.u-margin-medium {
  margin-bottom: 4rem; }

.u-margin-big {
  margin-bottom: 6rem; }

.u-margin-huge {
  margin-bottom: 8rem; }

.body--contact {
  background-color: #f5f5f5; }

.container {
  background-color: #6fcf97;
  height: 100vh;
  position: relative;
  display: flex; }
  .container--contact {
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 2fr 1fr; }
  .container__header {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: [sidebar-start] 1fr [sidebar-end] 3fr minmax(3rem, 1fr); }

.header {
  color: black;
  padding: 2rem;
  font-size: 5.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  background-color: #6fcf97; }
  @media screen and (max-width: 56.25em) {
    .header {
      font-size: 7rem; } }
  .header--contact {
    background-color: #f5f5f5;
    font-weight: 500;
    grid-column: 2/4; }

.social {
  grid-column: 4/5; }
  .social--contact {
    margin-left: 0;
    margin-right: 0; }

.full__content {
  display: flex;
  grid-column: 2/3; }
  @media screen and (max-width: 56.25em) {
    .full__content {
      margin: auto;
      width: 100%; } }
  @media screen and (max-width: 37.5em) {
    .full__content {
      width: 90%; } }

.row {
  display: flex; }
  .row__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; }

.navigation__checkbox {
  display: none;
  width: 0; }

.navigation__button {
  visibility: hidden;
  height: 7rem;
  width: 7rem;
  background-color: transparent;
  top: 6rem;
  right: 6rem;
  position: fixed;
  z-index: 600;
  text-align: center;
  border-radius: 50%; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem;
      visibility: visible; } }

.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent; }
  .navigation__container--contact {
    grid-column: 1/2; }
  @media (max-width: 56.25em) {
    .navigation__container {
      opacity: 0;
      width: 0;
      display: flex;
      justify-content: center; } }

.navigation__nav {
  padding: 0.8rem 1.7rem;
  border-radius: 3px; }

.navigation__item {
  padding: 1.3rem 0.5rem;
  padding-bottom: 0.6rem;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .navigation__item {
      padding: 2.6rem 0.4rem;
      font-size: 4.5rem;
      letter-spacing: 0.4rem; } }
  @media (max-width: 37.5em) {
    .navigation__item {
      padding: 2.6rem 0.4rem;
      font-size: 4rem; } }

.navigation__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3%;
  width: 3px;
  background-color: black;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.navigation__item:hover::before, .navigation__item--active::before {
  transform: scaleY(1);
  width: 99%; }

.navigation__list {
  list-style: none; }

.navigation__link, .navigation:link, .navigation:visited {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .navigation__link, .navigation:link, .navigation:visited {
      color: #fff; } }

@media (max-width: 56.25em) {
  .navigation__checkbox:checked ~ .navigation__container {
    opacity: 1;
    height: 80vh;
    width: 40vw;
    background-color: black;
    margin: 0;
    margin-top: -1rem;
    margin-left: 62%;
    z-index: 200; } }

@media (max-width: 37.5em) {
  .navigation__checkbox:checked ~ .navigation__container {
    width: 50vw;
    margin-left: 50%; } }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: black;
    display: inline-block;
    z-index: 600; }
    @media (max-width: 56.25em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3.7rem;
        height: 2px; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.4s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #fff; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #fff; }
