:root {
  --color-primary: #4e9f3d;
  --color-primary-dark: #1e5128; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

body {
  background-color: #6fcf97; }

.logo {
  color: black;
  font-size: 6.4rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3rem;
  grid-column: 1 / span 1;
  display: flex;
  justify-self: center;
  align-self: center; }
  @media screen and (max-width: 56.25em) {
    .logo {
      font-size: 5.5rem; } }
  @media screen and (max-width: 41.25em) {
    .logo {
      font-size: 5rem;
      margin-right: 15%; } }
  @media screen and (max-width: 36.25em) {
    .logo {
      grid-row: 1/2;
      font-size: 6rem; } }
  @media screen and (max-width: 27.5em) {
    .logo {
      margin-left: 70%; } }
  .logo__box {
    padding: 2rem;
    margin-bottom: 2rem; }
    @media screen and (max-width: 56.25em) {
      .logo__box {
        opacity: 0;
        width: 0;
        position: absolute; } }

.content {
  display: flex;
  flex: 1;
  flex-direction: column; }
  @media screen and (max-width: 37.5em) {
    .content {
      order: 2; } }
  .content__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    grid-column: 1/-1; }
    @media screen and (max-width: 37.5em) {
      .content__header--about {
        visibility: hidden;
        position: absolute; } }
    .content__header--contact {
      background-color: #f5f5f5; }
    .content__header--offerings {
      background-color: #beb7df; }
  .content__body {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 37.5em) {
      .content__body--contact {
        width: auto; } }
  .content__body-employee {
    display: flex;
    align-items: center;
    margin-top: 5%; }
    @media screen and (max-width: 37.5em) {
      .content__body-employee {
        flex-direction: column;
        padding: 3rem; } }
    .content__body-employee--text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Roboto", sans-serif;
      padding-left: 4rem; }
  .content__photo {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 37.5em) {
      .content__photo {
        margin-bottom: 5rem; } }

.social {
  grid-column: 3/4;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 30%; }
  .social--contact {
    margin-right: 0; }
  @media screen and (max-width: 56.25em) {
    .social {
      display: none; } }

.icon {
  display: inline-block;
  width: 2rem;
  stroke-width: 0;
  stroke: currentColor; }
  .icon:not(:last-child) {
    margin-right: 1rem; }

.heading-secondary {
  font-family: "Nunito";
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  border-bottom-width: 1.5px;
  padding-bottom: 1rem;
  border-bottom-style: solid;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .heading-secondary--mission {
    grid-column: 1/-1;
    margin-bottom: 5%;
    display: flex;
    justify-self: center; }

.heading-tertiary {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  margin-bottom: 5%;
  align-self: flex-start;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.team-heading {
  text-decoration: underline;
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 0.25rem; }
  @media screen and (max-width: 56.25em) {
    .team-heading {
      text-decoration: none;
      font-size: 4.5rem;
      font-family: "Nunito", sans-serif;
      margin-top: 2.5rem; } }

.paragraph {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 300; }
  .paragraph--contact {
    width: 80%;
    padding-top: 2.3rem; }
  .paragraph--offerings {
    line-height: normal; }

.mission-text {
  grid-column: 1/4;
  margin-top: 5%; }

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%; }

.about__photo {
  width: 55rem;
  height: 30rem; }

.about__text {
  width: 60%; }
  @media screen and (max-width: 56.25em) {
    .about__text {
      padding-bottom: 2rem; } }
  @media screen and (max-width: 37.5em) {
    .about__text {
      width: 75%; } }

.img__container {
  padding: 3rem; }

.contact__form {
  padding: 2rem;
  text-align: left;
  display: flex;
  padding-bottom: 0; }
  @media screen and (max-width: 37.5em) {
    .contact__form {
      flex-direction: column; } }

.contact__button {
  display: flex;
  justify-content: center; }
  .contact__button--btn {
    padding: 0.5rem 8rem;
    font-family: "Nunito", sans-serif;
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: all 0.2s;
    color: #fff; }
    .contact__button--btn:hover {
      cursor: pointer;
      transform: translateY(-3px); }
    .contact__button--btn:active {
      transform: translateY(3px); }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .form__group {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media screen and (max-width: 37.5em) {
      .form__group--message {
        padding-top: 0; } }
  .form__input {
    height: 4rem;
    order: 2;
    text-indent: 0px;
    text-align: start;
    cursor: text;
    font-size: 1.7rem;
    text-indent: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 5px gray; }
    .form__input--message {
      padding: 0 0 12rem 0;
      font-family: inherit;
      cursor: text; }
      @media screen and (max-width: 37.5em) {
        .form__input--message {
          margin-bottom: 1rem; } }
  .form__label {
    font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 0.8rem;
    letter-spacing: 0.1rem; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center; }

.reviews {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10%; }
  @media screen and (max-width: 50em) {
    .reviews {
      display: flex;
      flex-direction: column; } }
  .reviews__title {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .reviews__text {
    line-height: normal; }
  .reviews__photo {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media screen and (max-width: 62.5em) {
      .reviews__photo {
        height: 20rem;
        width: 20rem; } }
    @media screen and (max-width: 50em) {
      .reviews__photo {
        height: 18rem;
        width: 18rem; } }
    @media screen and (max-width: 37.5em) {
      .reviews__photo {
        margin-bottom: 5rem; } }
  .reviews__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    background-color: black;
    margin-top: -8rem;
    margin-right: -12rem;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .reviews__testimonial {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 50em) {
      .reviews__testimonial:not(:last-child) {
        margin-bottom: 5%; } }

.u-margin-small {
  margin-bottom: 2rem; }

.u-margin-medium {
  margin-bottom: 4rem; }

.u-margin-big {
  margin-bottom: 6rem; }

.u-margin-huge {
  margin-bottom: 8rem; }

.body--contact {
  background-color: #f5f5f5; }

.body__offerings {
  background-color: #beb7df; }

.body__portfolio {
  background-color: #f5b700; }

.body__testimonials {
  background-color: #e9d2f4; }

.container {
  height: 100vh;
  position: relative;
  display: flex; }
  .container__header {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 25vw 65vw 10vw;
    padding-top: 2rem; }
    @media screen and (max-width: 56.25em) {
      .container__header {
        grid-template-columns: 20vw 60vw 20vw; } }
    @media screen and (max-width: 37.25em) {
      .container__header {
        grid-template-columns: 20vw 60vw 20vw;
        grid-template-rows: 10rem 10rem; } }
  .container--content {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 25vw 65vw; }
    @media screen and (max-width: 56.25em) {
      .container--content {
        grid-template-columns: 100vw;
        grid-template-rows: 4rem; } }

.header {
  color: black;
  font-size: 4.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3rem;
  grid-column: 2/3;
  display: flex;
  justify-self: center;
  align-self: center;
  border: 1px solid;
  padding: 1rem 12rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 56.25em) {
    .header {
      font-size: 4.8rem;
      padding: 1rem 8rem; } }
  @media screen and (max-width: 37.25em) {
    .header {
      grid-row: 2/3;
      padding: 1rem 6rem; } }
  @media screen and (max-width: 56.25em) {
    .header--portfolio {
      padding: 1rem 4rem; } }
  @media screen and (max-width: 26.25em) {
    .header--portfolio {
      font-size: 3.5rem; } }
  @media screen and (max-width: 56.25em) {
    .header--offerings {
      padding: 1rem 4rem; } }
  @media screen and (max-width: 26.25em) {
    .header--offerings {
      font-size: 3.5rem; } }
  @media screen and (max-width: 62.5em) {
    .header--testimonials {
      padding: 1rem 2rem; } }
  @media screen and (max-width: 27.5em) {
    .header--testimonials {
      font-size: 3rem; } }
  @media screen and (max-width: 26.25em) {
    .header--contact {
      font-size: 3.5rem; } }

.full__content {
  display: flex;
  flex-direction: column;
  grid-column: 2/-1;
  align-items: center;
  margin-bottom: 5rem;
  padding: 0 4rem; }
  @media screen and (max-width: 56.25em) {
    .full__content {
      margin: auto;
      width: 100%;
      grid-column: 1/-1; } }
  @media screen and (max-width: 37.5em) {
    .full__content {
      width: 90%;
      padding: 0; } }

.our-mission {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content 15vw min-content;
  grid-column-gap: 5%;
  margin-bottom: 10%;
  justify-content: center; }
  .our-mission__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; }
  @media screen and (max-width: 37.5em) {
    .our-mission {
      padding: 0 2rem; } }

.row {
  display: flex; }
  .row__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; }
    .row__content:not(:last-child) {
      margin-right: 10%; }
  .row:not(:last-child) {
    margin-bottom: 5%; }

.gallery {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 20vw);
  grid-column-gap: 5vw;
  grid-row-gap: 5vh; }
  .gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; }

@media (max-width: 56.25em) {
  .navigation {
    position: relative; } }

.navigation__checkbox {
  display: none;
  width: 0; }

.navigation__button {
  visibility: hidden;
  height: 7rem;
  width: 7rem;
  background-color: transparent;
  top: 6rem;
  right: 6rem;
  position: absolute;
  z-index: 600;
  text-align: center;
  border-radius: 50%; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: -8rem;
      right: 3rem;
      visibility: visible; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: -18rem; } }
  @media screen and (max-width: 36.25em) {
    .navigation__button {
      right: 3rem; } }

@media (max-width: 37.5em) {
  .navigation__background {
    position: fixed;
    margin-top: -22.9rem; } }

.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent; }
  .navigation__container--contact {
    grid-column: 1/2; }
  @media (max-width: 56.25em) {
    .navigation__container {
      opacity: 0;
      width: 0;
      display: flex;
      justify-content: center; } }

.navigation__nav {
  padding: 1.8rem 1.9rem;
  border-radius: 3px; }
  @media (max-width: 56.25em) {
    .navigation__nav {
      padding-top: 12rem;
      padding-bottom: 8rem;
      padding-right: 0; } }
  @media (max-width: 37.5em) {
    .navigation__nav {
      height: 100%;
      padding-left: 0; } }

.navigation__item {
  padding: 1.3rem 0.5rem;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  position: relative; }
  .navigation__item:not(:last-child) {
    margin-bottom: 2rem; }
  @media screen and (max-width: 75em) {
    .navigation__item {
      font-size: 2.6rem;
      letter-spacing: 0.15rem; } }
  @media (max-width: 56.25em) {
    .navigation__item {
      padding: 2.6rem 0.4rem;
      font-size: 3rem;
      letter-spacing: 0.4rem; } }
  @media screen and (max-width: 50em) {
    .navigation__item {
      font-size: 2.3rem; } }
  @media (max-width: 37.5em) {
    .navigation__item {
      padding: 2.6rem 0.4rem;
      padding-bottom: 0; } }

.navigation__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3%;
  width: 3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: black;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.navigation__item:hover::before, .navigation__item--active::before {
  transform: scaleY(1);
  width: 99%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none; }

.navigation__link, .navigation:link, .navigation:visited {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .navigation__link, .navigation:link, .navigation:visited {
      color: #fff; } }

@media (max-width: 56.25em) {
  .navigation__checkbox:checked ~ .navigation__container {
    opacity: 1;
    width: 40vw;
    background-color: black;
    margin: 0;
    margin-top: -11.7rem;
    margin-left: 62%;
    z-index: 200;
    position: absolute; } }

@media (max-width: 37.5em) {
  .navigation__checkbox:checked ~ .navigation__container {
    margin-top: -21.9rem;
    margin-left: 0;
    width: 100%; } }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    background-color: black;
    display: inline-block;
    z-index: 600; }
    @media (max-width: 56.25em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 3.7rem;
        height: 4px; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.4s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #fff; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #fff; }
