:root{
    --color-primary: #4E9F3D;
    --color-primary-dark: #1E5128;
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body{
    background-color: #6FCF97;
}