//Universal

.logo {
  color: black;
  font-size: 6.4rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3rem;
  grid-column: 1 / span 1;
  display: flex;
  justify-self: center;
  align-self: center;

  @media screen and (max-width: 56.25em) {
    font-size: 5.5rem;
  }
  @media screen and (max-width: 41.25em) {
    font-size: 5rem;
    margin-right: 15%;
  }

  @media screen and (max-width: 36.25em) {
    grid-row: 1/2;
    font-size: 6rem;
  }

  @media screen and (max-width: 27.5em) {
    margin-left: 70%;
  }

  &__box {
    padding: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 56.25em) {
      opacity: 0;
      width: 0;
      position: absolute;
    }
  }
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  @media screen and (max-width: 37.5em) {
    order: 2;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    grid-column: 1/-1;

    &--about {
      @media screen and (max-width: 37.5em) {
        visibility: hidden;
        position: absolute;
      }
    }

    &--contact {
      background-color: #f5f5f5;
    }

    &--offerings {
      background-color: #beb7df;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--contact {
      @media screen and (max-width: 37.5em) {
        width: auto;
      }
    }
  }

  &__body-employee {
    display: flex;
    align-items: center;
    margin-top: 5%;

    @media screen and (max-width: 37.5em) {
      flex-direction: column;
      padding: 3rem;
    }

    &--text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Roboto", sans-serif;
      padding-left: 4rem;
    }
  }

  &__photo {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 37.5em) {
      margin-bottom: 5rem;
    }
  }
}

//Social Icons

.social {
  grid-column: 3/4;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 30%;

  &--contact {
    margin-right: 0;
  }

  @media screen and (max-width: 56.25em) {
    display: none;
  }
}

.icon {
  display: inline-block;
  width: 2rem;
  stroke-width: 0;
  stroke: currentColor;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.heading-secondary {
  font-family: "Nunito";
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  border-bottom-width: 1.5px;
  padding-bottom: 1rem;
  border-bottom-style: solid;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &--mission {
    grid-column: 1/-1;
    margin-bottom: 5%;
    display: flex;
    justify-self: center;
  }
}

.heading-tertiary {
  font-size: 2.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  margin-bottom: 5%;
  align-self: flex-start;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-heading {
  text-decoration: underline;
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 0.25rem;

  @media screen and (max-width: 56.25em) {
    text-decoration: none;
    font-size: 4.5rem;
    font-family: "Nunito", sans-serif;
    margin-top: 2.5rem;
  }
}

.paragraph {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 300;

  &--contact {
    width: 80%;
    padding-top: 2.3rem;
  }

  &--offerings {
    line-height: normal;
  }
}

.mission-text {
  grid-column: 1/4;
  margin-top: 5%;
}

.about {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  &__photo {
    width: 55rem;
    height: 30rem;
  }

  &__text {
    width: 60%;

    @media screen and (max-width: 56.25em) {
      padding-bottom: 2rem;
    }

    @media screen and (max-width: 37.5em) {
      width: 75%;
    }
  }
}

.img {
  &__container {
    padding: 3rem;
  }
}

//FORM

.contact {
  &__form {
    padding: 2rem;
    text-align: left;
    display: flex;
    padding-bottom: 0;

    @media screen and (max-width: 37.5em) {
      flex-direction: column;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    &--btn {
      padding: 0.5rem 8rem;
      font-family: "Nunito", sans-serif;
      font-size: 2.1rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      background-color: black;
      border: none;
      border-radius: 10px;
      margin-bottom: 2rem;
      transition: all 0.2s;
      color: #fff;

      &:hover {
        cursor: pointer;
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(3px);
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__group {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    &--message {
      @media screen and (max-width: 37.5em) {
        padding-top: 0;
      }
    }
  }

  &__input {
    height: 4rem;
    order: 2;
    text-indent: 0px;
    text-align: start;
    cursor: text;
    font-size: 1.7rem;
    text-indent: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 5px gray;

    &--message {
      padding: 0 0 12rem 0;
      font-family: inherit;
      cursor: text;

      @media screen and (max-width: 37.5em) {
        margin-bottom: 1rem;
      }
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 0.8rem;
    letter-spacing: 0.1rem;
  }
}

//OFFERINGS

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//TESTIMONIALS

.reviews {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10%;

  @media screen and (max-width: 50em) {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  &__text {
    line-height: normal;
  }
  &__photo {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 62.5em) {
      height: 20rem;
      width: 20rem;
    }
    @media screen and (max-width: 50em) {
      height: 18rem;
      width: 18rem;
    }

    @media screen and (max-width: 37.5em) {
      margin-bottom: 5rem;
    }
  }
  &__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    background-color: black;
    margin-top: -8rem;
    margin-right: -12rem;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 50em) {
      &:not(:last-child) {
        margin-bottom: 5%;
      }
    }
  }
}
