.body {
  display: grid;
  grid-template-columns: min-content 3fr;
  grid-template-rows: min-content min-content;
  grid-row-gap: 5%;
  &--contact {
    background-color: #f5f5f5;
  }
}

.container {
  background-color: #6fcf97;
  height: 100vh;
  position: relative;
  display: flex;

  &__header {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 2fr 1fr;
  }

  &--contact {
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.header {
  color: black;
  padding: 2rem;
  font-size: 5.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  background-color: #6fcf97;
  font-weight: 500;
  grid-column: 2/3;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-left: 20%;
  border: 1px solid;
  padding: 1rem 12rem;
  box-shadow: 1px 3px 3px gray;

  @media screen and (max-width: 56.25em) {
    font-size: 7rem;
  }

  &--contact {
    background-color: #f5f5f5;
  }
}

.full__content {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  margin-left: 20%;
  margin-top: 2%;

  @media screen and (max-width: 56.25em) {
    margin: auto;
    width: 100%;
  }

  @media screen and (max-width: 37.5em) {
    width: 90%;
  }
}

.row {
  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}
